.navbar-fixed-top{
    position: unset;
}
.login-logo, .register-logo{
    margin-bottom: 0px;
}

.login-page, .register-page{
    background: #f1f1f1;
}

.site-logo{
    width: 200px;
}


.login-box-body{
    border: 3px solid #3072aa;
    position: relative;
    -webkit-animation: mymove 3s;  /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation: mymove 3s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes mymove {
    from {top: -150px;}
    to {top: 50px;}
}

@keyframes mymove {
    from {top: -150px;}
    to {top: 50px;}
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header{
    height: 110px;
}
.navbar-nav > .user-menu > .dropdown-menu{
    width: 180px;
}
.skin-blue .main-header li.user-header{
    background-color: #fff;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > img{
    height: 100px;
    width: 130px;
}
.user-panel > .info{
    padding: 19px 5px 5px 15px;
    left: 83px;
}
.user-panel > .image > img{
    max-width: 75px;
}
.receipt-padding{
    padding: 45px;
}
.receipt-logo{
    width: 100%;
}
.margin-top-receipt{
    margin-top: 45px;
}
.remove-top-m{
    margin-top: 0px;
}
@media (min-width: 768px){
    .dl-horizontal dd {
        margin-left: 230px;
    }    
}
dt, dd{
    line-height: 2.428571;
}
.loader {
    border: 10px solid #b5c8e0;
    border-radius: 50%;
    border-top: 10px solid #3c8dbc;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 9999;
    position: fixed;
    left: 50%;
    top: 50%;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.dashboard-button{
    margin-top: 10%;
}

#datatables_w0 thead tr{
    background-color: #3c8dbc;
    color: #fff;
}

#datatables_w0 .empty{
    text-align: center;
}

.content-header{
    min-height: 570px;
}
